@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">MURAT YÜCEDAG İLE ASP.NET MVC ALTYAPISIYLA GELİŞTİRİLEN MVC STOK TAKİP PROGRAMI</p>
    <p><a href="/Kategori/Index" class="btn btn-primary btn-lg">MVC STOK TAKİP ADMİN PANEL&raquo;</a></p>
</div>